body {
    font-family: 'Lato', "Century Gothic", sans-serif;
    background: #eee;
  }
  a {
    text-decoration: none;
  }
  .nav-items,
  .bottom-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2rem;
  }
  #myheight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2rem;
  }
  .mySpacing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative;
    background: #eee;
    text-align: center;
    padding: 0 2rem;

  }
  .nav-items h1,
  .bottom-slide h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: .5rem;
    color: #ff5f14;
  }
  .nav-items span {
      color: #000;
  }
  .nav-items h3,
  .bottom-slide h3 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    opacity: 0.6;
  }
  .items-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
  }
  .items-container--top {
    position: fixed;
    top: 0;
  }
  .navs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #212121;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  }
  .navs:hover {
    color: white;
    background: rgb(255,95,20, 0.8);
    transition: all 0.5s ease;
  }
  .bottom-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #ff5f14;
    transition: left 0.3s ease;
  }

  .profile-pic {
      display: block;
      margin: auto;
      width: 30%;
      height: auto;
      max-width: 200px;
  }

  .my-container {
      max-width: 800px;
      margin: auto;
      overflow: auto;
      padding: 0 2rem;
      box-sizing: border-box;
  }

  .folioPics {
      width: 100%
  }

  .my-card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      background: #f1f1f1;
      margin-bottom: 2rem;
  }

  .my-card > div {
      padding: 1rem;
  }

  .my-card:nth-child(even) .folioPics {
      order: 2;
  }
   
  @media (min-width: 800px) {
    .nav-items h1,
    .bottom-slide h1 {
      font-size: 3rem;
    }
    .nav-items h3,
    .bottom-slide h3 {
      font-size: 1rem;
    }
   
    .navs {
      font-size: 1rem;
    }
  }
  @media (max-width: 700px) {
    .nav-items h1, .bottom-slide h1 {
      letter-spacing: 0ch;
    }

    .my-card {
        display: block;
    }
  }